@if (activityVisible()) {
  <mat-progress-bar
    class="activity-bar"
    mode="indeterminate"
    aria-label="Wird geladen"
    data-test-id="activityBar"
  />
}
<mat-toolbar>
  <span class="wordmark" data-test-id="appTitle">Rezepte</span>
  <span class="spacer"></span>
  @if (!loggedIn()) {
    <a mat-button routerLink="login" data-test-id="loginAction">Login</a>
  } @else if (!isCompact()) {
    <button
      matIconButton
      data-test-id="accountMenuTrigger"
      aria-label="Konto"
      [matMenuTriggerFor]="accountMenu"
    >
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu" class="user-menu">
      @if (isAdmin()) {
        <a mat-menu-item routerLink="/admin" data-test-id="accountMenuAdmin">
          <mat-icon>admin_panel_settings</mat-icon><span>Administration</span>
        </a>
      }
      <button mat-menu-item data-test-id="accountMenuLogout" (click)="logout()">
        <mat-icon>logout</mat-icon><span>Abmelden</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>
<div class="content" [class.has-bottom-nav]="showBottomNav()">
  <router-outlet></router-outlet>
</div>
@if (showBottomNav()) {
  <app-bottom-nav />
}
