@use '@angular/material' as mat;

:host {
  mat-toolbar {
    #profileImage {
      @include mat.icon-button-overrides(
        (
          state-layer-color: white,
          focus-state-layer-opacity: 1,
          hover-state-layer-opacity: 1,
          pressed-state-layer-opacity: 1,
        )
      );
    }
  }
}

.wordmark {
  font: var(--mat-sys-title-large);
  font-weight: 600;
}

.content {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.profile-image {
  position: relative;
  top: -6px;
  left: -6px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
